.detailed_task{
    border:solid 1px black;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
    
.completed{
    background-color: green;
    color:white;

}
.notCompleted{
    background-color:red;
    color:white;

}
button{
    padding:5px;
    border:none;
}
.notCompletedTask{
    color:black;
}
.completedTask{
    text-decoration: line-through red;
}