.App {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main_form{
  display:flex;
  align-items: center;
  flex-direction: column;
  width:70%;
  height:30%;
  border:1px solid black;
  border-radius:4px;
  padding:30px;
}
.taskForm{
  background-color: aqua;
}
.main_form > input{
  width:40%;
}